*.test
coverage.out
dist/
catalog-openapi-cache/cache.sqlite*
catalog-openapi-cache/aws-smithy
catalog-openapi-cache/google-discovery
catalog-openapi-cache/openapi
!catalog-openapi-cache/openapi/
catalog-openapi-cache/openapi/*
!catalog-openapi-cache/openapi/nvidia-dsx-air-openapi.yaml
catalog-openapi-cache/asyncapi
!catalog-openapi-cache/asyncapi/
catalog-openapi-cache/asyncapi/*
!catalog-openapi-cache/asyncapi/asyncapi-gemini-websocket.yml
!catalog-openapi-cache/asyncapi/asyncapi-slack-rtm.yml
!catalog-openapi-cache/asyncapi/asyncapi-streetlights-mqtt.yml
AGENTS.md
memory-bank
memory-bank/
evolution
evolution/
