*.test
coverage.out
dist/
catalog-openapi-cache/cache.sqlite*
catalog-openapi-cache/aws-smithy
catalog-openapi-cache/google-discovery
catalog-openapi-cache/openapi
!catalog-openapi-cache/openapi/
catalog-openapi-cache/openapi/*
!catalog-openapi-cache/openapi/nvidia-dsx-air-openapi.yaml
catalog-openapi-cache/asyncapi
!catalog-openapi-cache/asyncapi/
catalog-openapi-cache/asyncapi/*
!catalog-openapi-cache/asyncapi/asyncapi-gemini-websocket.yml
!catalog-openapi-cache/asyncapi/asyncapi-slack-rtm.yml
!catalog-openapi-cache/asyncapi/asyncapi-streetlights-mqtt.yml
catalog-openapi-cache/graphql
!catalog-openapi-cache/graphql/
catalog-openapi-cache/graphql/*
!catalog-openapi-cache/graphql/graphiql-starwars-schema.graphql
!catalog-openapi-cache/graphql/graphiql-schema-kitchen-sink.graphql
catalog-openapi-cache/openrpc
!catalog-openapi-cache/openrpc/
catalog-openapi-cache/openrpc/*
!catalog-openapi-cache/openrpc/openrpc-petstore.json
!catalog-openapi-cache/openrpc/openrpc-simple-math.json
catalog-openapi-cache/grpc-protobuf
!catalog-openapi-cache/grpc-protobuf/
catalog-openapi-cache/grpc-protobuf/*
!catalog-openapi-cache/grpc-protobuf/google-pubsub-v1.proto
!catalog-openapi-cache/grpc-protobuf/opentelemetry-trace-service-v1.proto
catalog-openapi-cache/odata
!catalog-openapi-cache/odata/
catalog-openapi-cache/odata/*
!catalog-openapi-cache/odata/odata-csdl-16-1.json
!catalog-openapi-cache/odata/odata-operations-service.xml
AGENTS.md
memory-bank
memory-bank/
evolution
evolution/
